*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100vw;
}
#map {
    height: 100%;
    width: 100vw;
    z-index: 1;
}
.window.active {
    height: 50%;
    padding-bottom: 60px;
}
.window {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color:  #ececec;
    overflow: hidden;
    transition: all 0.5s ease;
    padding-top: 38px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(65, 65, 65, 0.308);
    overflow: scroll;
    -ms-overflow-style: none;  /* Cacher scrollbar pour IE and Edge */
    scrollbar-width: none;  /* Cacher scrollbar pour Firefox */
}

/* Cacher scrollbar pour Chrome, Safari & Opera */
.window::-webkit-scrollbar {
    display: none;
}

.information{
    margin-top:3%;
    color: rgb(82, 82, 82);
}
.information .list{
    padding: 20px;
}
.window .btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #acacac;
}
input[type=text]{
    /* display: block; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color:  #d6d6d6;
    border: none;
    height: 40px;
    width: 80%;
    border-radius: 40px;
    font-size: 18px;
    color:  #525252;
    /* margin: 10px; */
}
.autocomplete-suggestions :hover{
    cursor: pointer;
}
.autocomplete-suggestions {
    border: 2px solid #999;
    border-radius: 20px;
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    text-decoration: underline; 
}
.dist{
    position: relative;
}
.form-group i{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}
.form-group .bx{
    position: absolute;
    z-index: 99;
    color: #525252;
}
.bx-info-circle{
    font-size: 40px;
}
.time_selector{
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 4px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color:  #d6d6d6;
    color:  #525252;
    height: 40px;
}
.time_selector button{
    border: none;
    border-radius: 12px;
    padding: 4px;
    padding-bottom: 3px;
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 10px;
    background-color:  #0194b9;
    color:  #d6d6d6;
    height: 30px;
    cursor: pointer;
}

input[type="datetime-local"]{
    font-size: 16px;
    height: 30px;
    width: auto;
    background-color:  #d6d6d6;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
    color: #525252;
    padding-top: 4px;
    padding-bottom: 4px;
}
.itin-go button{
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
    cursor: pointer;
}
.itin-go .itin-btn{
    background-color: rgb(108, 168, 118);
    margin-left: auto;
    margin-right: auto;
}
.itin-go .go-btn{
    background-color: rgb(102, 158, 223);
}
.itin-go .filter-btn{
    background-color: rgb(223, 171, 102);
    display: inline-block;
    padding: .4em .8em;
    text-align: left;
}
.itin-go .reset-btn{
    background-color: rgb(178, 207, 206);
    display: inline-block;
    padding: .4em .8em;
}
.itin-go button:hover{
    background-color:  #969696;
}
.eta-dist.active {
    height: 17%;
    min-height: 200px;
}
.eta-dist.steps {
    height: 50%;
    min-height: 200px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Cacher scrollbar pour IE and Edge */
    scrollbar-width: none;  /* Cacher scrollbar pour Firefox */
}

/* Cacher scrollbar pour Chrome, Safari & Opera */
.eta.dist.steps::-webkit-scrollbar {
    display: none;
}

.eta-dist .btn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 32px;
    text-decoration: none;
    color: #acacac;
}
.eta-dist {
    text-align: center;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color:  #ececec;
    color: rgb(82, 82, 82);
    overflow: hidden;
    padding-top: 20px;
    transition: all 0.5s ease;
}
.eta{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20px;
    border-radius: 20px;
    background-color:  #d6d6d6;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
}
.dur{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20px;
    border-radius: 20px;
    background-color:  #d6d6d6;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
}
.dist{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20px;
    border-radius: 20px;
    background-color:  #d6d6d6;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
}
.eta-dist button {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(102, 158, 223);
    font-size: 18px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}
/* .eta-dist button{
    position: absolute;
    border-radius: 40px;
    border: none;
    right: 0px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
    z-index: 100;
} */
.options select {
    font-size: .9rem;
    padding: 2px 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    background-color:  #d6d6d6;
    color: rgb(82, 82, 82);
}
.container {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color:  #ececec;
    border-radius: 20px 20px 0px 0px;
    z-index: 2;
    bottom: 0px;
}
.option-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.option-bar .btn{
    cursor: pointer;
    font-size: 34px;
    color: rgb(70, 97, 76);
}
/* .option-bar img{
    margin: 0 100px 0 0;
} */
.filterbox {
    margin-top:3%;
}
.sliders {
    margin:2%;
}
.slider {
    height: 10px;
    padding: 5 0%;
    margin-left: 10px;
}
.slider .noUi-connect {
    background: #ac382b;
}
.slider.notactive .noUi-connect {
    background: #a8a8a8;
}
.slider .noUi-handle {
    box-shadow: none;
    height: 18px;
    width: 18px;
    border-radius: 9px;
}
.slider .noUi-handle::before,
.noUi-handle::after {
    display: none;
}
.buttons_type{
    display: inline-block;
    padding: .4em .8em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    background: #b6b6b6;
    border: 0;
    color: #ddd;
    font-size: 12px;
    font-weight: 300;
    border-radius: 15px;
    cursor: pointer;
}
.buttons_type.transp_filters.active{
    background: rgb(165, 192, 67);
}
.buttons_type.type_filters{
    margin-top: 5px;
    width: 110px;
}
.buttons_type.type_filters.active{
    background: rgb(192, 67, 67);
    text-align: center;
}
.buttons_type.info{
    background: rgb(165, 192, 67);
}

.controls_transports{
    padding: 12px;
    padding-bottom: 20px;
}
.controls_filters{
    padding: 20px;
    text-align: center;
}

.ele_info{
    font-size: 0;
    width: 50%;
    height: 120px;
    padding: 20px;
    margin-right: 50px;
 }

.image{
    text-align: right;
    width: 50%;
    margin-top : 10px;
}

.left{
    text-align: justify;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.nome{
    color: rgb(70, 97, 76);
    font-size: 26pt;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;font-family: 'Poppins', sans-serif;
}



#infos{
    overflow: scroll;
}

.infobox{

    position: relative;
    min-height: 400px;
    text-align: center;
    background-color: #ececec;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.center{
    text-align: center;
    font-size: 15px;
}
.column{
    background-color:  #ececec;
    width: 100%;
}

.imagem{
    text-align: center;
    padding-bottom:10px;
    width: 100%;
}

.nbr{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.diff{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;   
}

.type{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descricao{
    margin: 10px;
    font-size: 14px;
    padding: 10px;
}


.legend{
text-align: center;
font-size: 16px;
color: #fff;
height: 30px;
margin: 20px;
border-radius: 10px;
margin-top: 5px;
margin-bottom: 5px;
background-color: rgb(108, 168, 118);
font-family: 'Poppins', sans-serif;
}
.legend.unactive{
color: #fff;
}



.customPopup{
    border: none;
    border-radius: 12px;
    padding: 4px;
    font-size: 12px;
    margin: 10px;
    background-color:  #5b99e0;
    color:  #ffffff;
    height: 30px;
    opacity: 1;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
    opacity: 0.9;
    text-align: center;
    width: 230px;
  }


.filter_result{
    display: inline-block;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    background-color:  #98d17d;
    color:  #ffffff;
    height: 50px;
    opacity: 1;
    cursor: pointer;
}

.step_result{
    display: inline-block;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 6px;
    margin: 5px;
    background-color:  #7db2d1;
    color:  #ffffff;
    height: 50px;
    opacity: 1;
    cursor: pointer;
}
    
.clipped_img {
    float: left;
    width: 180px;
    height: 50px;
    overflow: hidden;
    border-radius: 12px;   
}

.clipped_img img {
    width: 400px;
    margin: -75px 0 0 -100px;
}

.filter_nval {
    text-align: left;
    margin-left: 30px;
    font-size: 24px;
    color: #58943c;
}