body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
/* #titre
{
    position: absolute;
    top: 2%;
    left: 70%;
    padding-left: 10px;
}
#search
{
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 70%;
    padding-left: 50px;
}
#filter
{
    position: absolute;
    left: 70%;
    padding-left: 50px;
    top: 20%;
    stroke: black;
    stroke-width: 10%;
}
#desc
{
    position: absolute;
    left: 70%;
    padding-left: 50px;
    top: 50%;
    stroke: black;
} */