*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100vw;
}
#map {
    height: 100%;
    width: 100vw;
    z-index: 1;
}
.window.active {
    height: 60%;
}
.window {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color:  #ececec;
    overflow: hidden;
    transition: all 0.5s ease;
    padding-top: 38px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(65, 65, 65, 0.308);
}
.information{
    color: rgb(82, 82, 82);
}
.window .btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #acacac;
}
input[type=text]{
    /* display: block; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color:  #d6d6d6;
    border: none;
    height: 40px;
    width: 80%;
    border-radius: 40px;
    font-size: 18px;
    color:  #525252;
    /* margin: 10px; */
}
.dist{
    position: relative;
}
.form-group i{
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}
.form-group .bx{
    position: absolute;
    z-index: 99;
    color: #525252;
}
.time_selector button{
    display: block;
    border: none;
    border-radius: 20px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color:  #d6d6d6;
    color:  #525252;
}

input[type="datetime-local"]{
    font-size: 16px;
    height: 30px;
    width: auto;
    background-color:  #d6d6d6;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
    color: #525252;
    padding-top: 4px;
    padding-bottom: 4px;
}
.itin-go button{
    border-radius: 40px;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
}
.itin-go .itin-btn{
    background-color: rgb(108, 168, 118);
    margin-left: auto;
    margin-right: auto;
}
.itin-go .go-btn{
    background-color: rgb(102, 158, 223);
}
.itin-go .filter-btn{
    background-color: rgb(223, 171, 102);
    display: inline-block;
    padding: .4em .8em;
    text-align: left;
}
.itin-go .reset-btn{
    background-color: rgb(178, 207, 206);
    display: inline-block;
    padding: .4em .8em;
}
.itin-go button:hover{
    background-color:  #969696;
}
.eta-dist.active {
    height: 17%;
    min-height: 140px;
}
.eta-dist {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color:  #ececec;
    color: rgb(82, 82, 82);
    overflow: hidden;
    padding-top: 20px;
}
.eta{
    width: 60%;
    height: 20px;
    border-radius: 20px;
    background-color:  #d6d6d6;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    padding-left: 10px;
}
.dist{
    width: 40%;
    height: 20px;
    border-radius: 20px;
    background-color:  #d6d6d6;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    padding-left: 10px;
}
.eta-dist button {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(102, 158, 223);
    font-size: 18px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}
/* .eta-dist button{
    position: absolute;
    border-radius: 40px;
    border: none;
    right: 0px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin: 7px;
    z-index: 100;
} */
.options select {
    font-size: .9rem;
    padding: 2px 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    background-color:  #d6d6d6;
    color: rgb(82, 82, 82);
}
.container {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color:  #ececec;
    border-radius: 20px 20px 0px 0px;
    z-index: 2;
    bottom: 0px;
}
.option-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.option-bar .btn{
    cursor: pointer;
    font-size: 34px;
    color: rgb(70, 97, 76);
}
/* .option-bar img{
    margin: 0 100px 0 0;
} */
.sliders {
    margin:15px;
}
.slider {
    margin-top: 10px;
    height: 10px;
    padding: 0 9px;
}
.slider .noUi-connect {
    background: #ac382b;
}
.slider.notactive .noUi-connect {
    background: #a8a8a8;
}
.slider .noUi-handle {
    box-shadow: none;
    height: 18px;
    width: 18px;
    border-radius: 9px;
}
.slider .noUi-handle::before,
.noUi-handle::after {
    display: none;
}
.filter_type{
    display: inline-block;
    padding: .4em .8em;
    background: #b6b6b6;
    border: 0;
    color: #ddd;
    font-size: 12px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}
.filter_type.active{
    background: rgb(192, 67, 67);
}
.controls{
    padding: 5%;
  }

.ele_info{
    font-size: 0;
    width: 50%;
    height: 120px;
    padding: 20px;
    margin-right: 50px;
 }

.image{
    text-align: right;
    width: 50%;
    margin-top : 10px;
}

.left{
    text-align: left;
    background-color: #fff;
}

.nome{
    color: rgb(70, 97, 76);
    font-size: 24pt;
    padding-top: 5px;
}



#infos{
    overflow: scroll;
}

.imagem{
    text-align: center;
}
